body{
    
    background-color: rgb(224, 216, 231);
}

h3 {
    text-align: center;
    color:rgb(98, 46, 133);
}

h2{
    text-align: center;
    color:rgb(36, 23, 97)
}

.comentarios{
    color:green;
}

.resultado{
    color: red;
}

td{
    border: 2px solid black;
  }
